.posts {
    list-style-type: none;// no numbered
    margin: 0;
}

.post {
    margin: 1rem 0; // 1 rem top down; 0 left right

    a {
        background: #f4f4f4;
        color: #566D7E;
        display: block;
        padding: .5rem;
        text-decoration: none; // no underline

    }

    a:hover{
        background: #e4e4e4;

    }

    h2{
        margin-bottom: 0;
        font-size: 1rem;
    }

    p {
        color:#777777;
        font-size: .7rem;
        font-style: italic
    }
}