.header {
    padding: 1rem 0 1rem;
    font-family: Vollkorn;
    font-weight: 600;
    margin-top: 1rem;
    // top; left right; bottom
}

.date {
    padding: 1rem 0 1rem;
    font-family: Vollkorn;
    font-weight: 600;
    font-size: 1.2rem
}