.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;

    display:flex;
    flex-direction: column;// stack vertically, not left right
    min-height: 100vh;

}

.content {
    flex-grow: 1;
}