.header {
    padding: 1rem 0 1rem;
    font-family: Vollkorn;
    font-weight: 600;
    margin-top: 1rem;
    color: #131516;
    // top; left right; bottom
}

.subheader {
    padding: 1rem 0 1rem;
    font-family: Vollkorn;
    font-weight: 600;
    margin-top: 1rem;
    color: #131516;

    // top; left right; bottom
}

.paragraph {
    padding: 0.5rem 0 0.5rem;
    font-family: Vollkorn;
    font-weight: 600;
    margin-top: 0.5rem;
    color: #131516;

    // top; left right; bottom
}

.a {
    padding: 0.5rem 0 0.5rem;
    font-family: Kurale;
    font-weight: 600;
    margin-top: 0.5rem;
    text-decoration: none;
    color:#107896;
    
    // top; left right; bottom
}

